[submodule "dependencies/Hooking.Patterns"]
	path = dependencies/Hooking.Patterns
	url = https://github.com/ThirteenAG/Hooking.Patterns.git
[submodule "dependencies/IniReader"]
	path = dependencies/IniReader
	url = https://github.com/ThirteenAG/IniReader.git
[submodule "dependencies/injector"]
	path = dependencies/injector
	url = https://github.com/ThirteenAG/injector.git
